.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3182ce;
  align-items:center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 13px 60px;
  margin: 0;
}

.nav-item {
  padding-right: 28px;
}

.nav-link {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spinner {
  align-items: center;
}

.login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-email {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-item {
  color: white;
  margin-right: 28px;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}